<script>

    function wait(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    (async function($){

        // await wait(100);

        {% if econtDeliveryOneStepCheckoutEnabled %}
            var shippingInfo = null;
            var panelBody = $('div#collapse-checkout-confirm > div.panel-body');

            var $econtLabelText = $('<span id="econtDeliveryInfo" style="display: block"></span>').text({{ deliveryMethodTxt | json_encode }});
            panelBody.prepend($econtLabelText);

            var $hiddenTextArea = $('<textarea style="display:none" name="econt_delivery_shipping_info"></textarea>');
            panelBody.prepend($hiddenTextArea);

            var $frame = $('<iframe id="econtDeliverFrame" src="{{ frameURL }}" width="{{ iframeWidth }}" height="{{ iframeHeight }}"></iframe>');
            panelBody.prepend($frame);

            var toggleButton = $('<button id="toggleEcontDeliveryCustomerInfo" class="btn btn-primary" style="display: none;">{{ text_delivery_method_change_button }}</button>');
            toggleButton.click(function (){
                $('#econtDeliverFrame')[0].style.display = 'block';
                $('#toggleEcontDeliveryCustomerInfo')[0].style.display = 'none';
            });
            panelBody.prepend(toggleButton);

            var productTable = $('div#collapse-checkout-confirm > div.panel-body > div.table-responsive');
            if(productTable[0]) {
                productTable[0].style.marginTop = '60px';
            }

            $('input:radio[name=payment_method]').change(
                function(){
                    $.ajax({
                        url: '{{ constant("HTTPS_SERVER") }}index.php?route=extension/shipping/econt_delivery/onChangePaymentMethod',
                        type: 'POST',
                        async: false,  // This makes it synchronous
                        data: {
                            payment_method: $('input:radio[name=payment_method]:checked').val(),
                            order_id: '{{ order_id }}',
                            econt_delivery_shipping_info: $('textarea[name=econt_delivery_shipping_info]').val(),
                        },
                        dataType: 'text',
                        success: function(response) {
                            var $scripts = $('div.buttons + script')[0];
                            if($scripts) $scripts.remove();
                            var $buttons = $('div.buttons')[1];
                            if($buttons) $buttons.remove();
                            $('div#collapse-checkout-confirm > div.panel-body').append(response);
                        }
                    });
                }
            );

            $('textarea[name=comment]').change(
                function(){
                    $.ajax({
                        url: '{{ constant("HTTPS_SERVER") }}index.php?route=extension/shipping/econt_delivery/onChangeComment',
                        type: 'POST',
                        async: false,  // This makes it synchronous
                        data: {
                            comment: $('textarea[name=comment]').val()
                        },
                        dataType: 'text'
                    });
                }
            );

        {% else %}
            var $econtRadio = $(document).find('input:radio[value=\'econt_delivery.econt_delivery\']');

            {% if oneStepCheckoutModuleEnabled %}
                var useShipping = false;
                var useShippingCheckBox = $('#shipping')[0];
                var customerInfoUrl = "{{ frameURL }}";
                var splited = customerInfoUrl.split('&').map(param => param.split('='));
                var fieldsData = [];
                var calculateButtonText = '{{ text_delivery_method_calculate_button }}';
                var changeInfoButtonText = '{{ text_delivery_method_change_button }}';
                var hasPrice = false;
                var userIsLogged = false;

                {% if is_logged %}
                    userIsLogged = true;
                {% endif %}

                if (userIsLogged === false && useShippingCheckBox.checked === false) {
                    useShipping = true;
                }

                var fields = [
                    '#input-' + ( useShipping ? 'shipping' : 'payment' ) + '-firstname',
                    '#input-' + ( useShipping ? 'shipping' : 'payment' ) + '-lastname',
                    '#input-' + ( useShipping ? 'shipping' : 'payment' ) + '-country',
                    '#input-' + ( useShipping ? 'shipping' : 'payment' ) + '-address-1',
                    '#input-' + ( useShipping ? 'shipping' : 'payment' ) + '-city',
                    '#input-' + ( useShipping ? 'shipping' : 'payment' ) + '-zone',
                    '#input-' + ( useShipping ? 'shipping' : 'payment' ) + '-postcode',
                    '#input-' + ( useShipping ? 'shipping' : 'payment' ) + '-company',
                    '#input-payment-telephone',
                    '#input-payment-email'
                ]

                var getFields = function () {
                    fields.forEach( function( field ) {
                        fieldsData[field] = $( field ).val()
                        if (field.indexOf('-zone') > -1) {
                            var select = $(field)[0].options;
                            var selected = $( field ).val();
                            var selectedText = '';
                            for (var i = 0; i < select.length; i++) {
                                if (select[i].value === selected) {
                                    selectedText = select[i].text
                                }
                            }

                            fieldsData[field] = selectedText;
                        }
                    });
                    return fieldsData;
                }

                var getUrl = function(data) {
                    var name;
                    var company;
                    var dataArray = [];

                    for (var x = 0; x < 4; x++){
                        dataArray.push(splited[x]);
                    }

                    company = data['#input-' + ( useShipping ? 'shipping' : 'payment' ) + '-company'];
                    name = data['#input-' + ( useShipping ? 'shipping' : 'payment' ) + '-firstname'] + ' ' + data['#input-' + ( useShipping ? 'shipping' : 'payment' ) + '-lastname'];

                    var additional = [
                        ["customer_company", company],
                        ["customer_name", name],
                        ["customer_phone", data['#input-payment-telephone']],
                        ["customer_email", data['#input-payment-email']],
                        ["customer_city_name", data['#input-' + ( useShipping ? 'shipping' : 'payment' ) + '-city']],
                        ["customer_post_code", data['#input-' + ( useShipping ? 'shipping' : 'payment' ) + '-postcode']],
                        ["customer_address", data['#input-' + ( useShipping ? 'shipping' : 'payment' ) + '-address-1']],
                        ["customer_address", data['#input-' + ( useShipping ? 'shipping' : 'payment' ) + '-address-1']],
                        ['ignore_history', true]
                    ]

                    additional.forEach( entry => {
                        dataArray.push(entry)
                    });

                    return dataArray.map(param => param.join('=')).join('&');
                }

                var setButtonText = function () {
                    hasPrice = true;
                    $('#openEcontModal').text(changeInfoButtonText);
                }

                $econtRadio.closest('tr').after('' +
                    '<tr id="econt_delivery_row">' +
                        '<td colspan="3">' +
                            '<div id="econt_iframe_wrapper"><div id="econt_iframe_inner"><span id="closeEcontModal" class="close-econt-modal">x</span></div></div>' +
                            '<div>' +
                                '<button type="button" id="openEcontModal" ' +
                                    'class="btn btn-primary" style="float: right;">' + ( hasPrice ? changeInfoButtonText : calculateButtonText ) + '</button>' +
                            '</div>' +
                        '</td>' +
                    '</tr>' +
                '');

                $('#closeEcontModal').on('click', function () {
                    $("#econt_iframe_wrapper").css('display', 'none')
                    $('html body').removeClass('background-muted')
                    if ($frame) {
                        $frame.remove();
                        $frame = null;
                    }
                })

                $('#openEcontModal').on('click', function () {
                    var preparedFields = getFields();
                    var url = getUrl(preparedFields);

                    if(!$frame) {
                        $frame = $('<iframe id="econtDeliverFrame" src="' + url + '" width="{{ iframeWidth }}" height="{{ iframeHeight }}"></iframe>');
                        $("#econt_iframe_inner").append($frame);
                    }

                    $("#econt_iframe_wrapper").css('display', 'block');
                    $('html body').addClass('background-muted')
                })

            {% endif %}

            var $hiddenTextArea = $('<textarea style="display:none" name="econt_delivery_shipping_info"></textarea>')
                .appendTo({% if oneStepCheckoutModuleEnabled %} $("#econt_iframe_inner") {% else %} $econtRadio.parent().parent() {% endif %});

            $econtRadio.parent().contents().each(function(i,el){
                if(el.nodeType == 3){
                    el.nodeValue = '';
                }
                if($(el).hasClass('shipping-quote-title')){
                    $(el).remove();
                }
            });//zabursvane na originalniq text

            var $econtLabelText = $('<span id="econtDeliveryInfo" style="display: block"></span>').text({{ deliveryMethodTxt | json_encode }});
            var shippingInfo = null;
            var $frame = null;

            $econtRadio.after($econtLabelText);

            $econtRadio.click(function(){
                if(!$frame) {
                    $frame = $('<iframe id="econtDeliverFrame" src="{{ frameURL }}" width="{{ iframeWidth }}" height="{{ iframeHeight }}"></iframe>');
                    {% if oneStepCheckoutModuleEnabled %}
                        $("#econt_iframe_inner").append($frame);
                    {% else %}
                        $econtRadio.parent().parent().append($frame);
                    {% endif %}
                }
            });
            $('input:radio[name=shipping_method]').change(function(){
                if(!$econtRadio.is(':checked')) {
                    {% if not oneStepCheckoutModuleEnabled %}
                        if ($frame) {
                            $frame.remove();
                        }
                        $frame = null;
                    {% else %}
                        $('#econt_delivery_row').css('display', 'none');
                    {% endif %}
                } else {
                    {% if oneStepCheckoutModuleEnabled %}
                        $('#econt_delivery_row').css('display', 'table-row');
                    {% endif %}
                }
            });

            if($econtRadio.is(':checked')) {
                $econtRadio.trigger('click');
            }
        
        // ???
        {% endif %}

        {% if isJournalOnePageCheckout %}
            $('.section-comments textarea').change(
                function(){
                    $.ajax({
                        url: '{{ constant("HTTPS_SERVER") }}index.php?route=extension/shipping/econt_delivery/onChangeComment',
                        type: 'POST',
                        async: false,  // This makes it synchronous
                        data: {
                            comment: $(this).val()
                        },
                        dataType: 'text'
                    });
                }
            );
        {% endif %}



        $(window).unbind('message.econtShipping');
        $(window).bind('message.econtShipping',function(e){
            if(e.originalEvent.origin.indexOf('{{ deliveryBaseURL }}') == 0) {
                if(e.originalEvent.data.shipment_error) {
                    alert(e.originalEvent.data.shipment_error)
                } else {
                    {% if oneStepCheckoutModuleEnabled %}
                        setButtonText()
                    {% endif %}

                    shippingInfo = e.originalEvent.data;
                    {% if oneStepCheckoutModuleEnabled %}
                        $('#econt_iframe_wrapper').css('display', 'none');
                        $('html body').removeClass('background-muted');
                    {% endif %}

                    {%  if econtDeliveryOneStepCheckoutEnabled %}
                        // debugger;
                        $frame[0].style.display = 'none';
                        toggleButton[0].style.display = 'block';
                    {% else %}
                        $frame.remove();
                        $frame = null;
                    {% endif %}

                    // ???
                    {% set concatenated = deliveryMethodTxt ~ ' - ' %}


                    var labelTxt = {% if not oneStepCheckoutModuleEnabled %} {{ concatenated | json_encode }} {% endif %} + shippingInfo.shipping_price + ' ' + shippingInfo.shipping_price_currency_sign;
                    if(shippingInfo.shipping_price != shippingInfo.shipping_price_cod) {
                        labelTxt += ' (+ ' + (shippingInfo.shipping_price_cod - shippingInfo.shipping_price).toFixed(2) + ' ' + shippingInfo.shipping_price_currency_sign + ' ' + {{ deliveryMethodPriceCD | json_encode }} + ')'
                    }
                    $hiddenTextArea.val(JSON.stringify(e.originalEvent.data));

                    {% if oneStepCheckoutModuleEnabled %}
                        var date = new Date();
                        date.setTime(date.getTime() + (5 * 60 * 1000));
                        document.cookie = "econt_delivery_temporary_shipping_price=" + JSON.stringify(e.originalEvent.data) + "; expires=" + date;
                        loadCart();

                        var label = $('label[for="econt_delivery.econt_delivery"]').last();
                        label.empty().append(labelTxt);

                        var full_name = []
                        var company = ''
                        var data = e.originalEvent.data

                        if ( data['face'] != null ) {
                            full_name = data['face'].split( ' ' );
                            company = data['name'];
                        } else {
                            full_name = data['name'].split( ' ' );
                        }
                        if ( document.getElementById( 'input-' + ( useShipping ? 'shipping' : 'payment' ) + '-firstname' ) )
                            document.getElementById( 'input-' + ( useShipping ? 'shipping' : 'payment' ) + '-firstname' ).value = full_name[0];
                        if ( document.getElementById( 'input-' + ( useShipping ? 'shipping' : 'payment' ) + '-lastname' ) )
                            document.getElementById( 'input-' + ( useShipping ? 'shipping' : 'payment' ) + '-lastname' ).value = full_name[1] ? full_name[1] : '';
                        if ( document.getElementById( 'input-' + ( useShipping ? 'shipping' : 'payment' ) + '-company' ) )
                            document.getElementById( 'input-' + ( useShipping ? 'shipping' : 'payment' ) + '-company' ).value = company;
                        if ( document.getElementById( 'input-' + ( useShipping ? 'shipping' : 'payment' ) + '-address-1' ) )
                            document.getElementById( 'input-' + ( useShipping ? 'shipping' : 'payment' ) + '-address-1' ).value = data['address'] != '' ? data['address'] : data['office_name'];
                        if ( document.getElementById( 'input-' + ( useShipping ? 'shipping' : 'payment' ) + '-city' ) )
                            document.getElementById( 'input-' + ( useShipping ? 'shipping' : 'payment' ) + '-city' ).value = data['city_name'];
                        if ( document.getElementById( 'input-' + ( useShipping ? 'shipping' : 'payment' ) + '-postcode' ) )
                            document.getElementById( 'input-' + ( useShipping ? 'shipping' : 'payment' ) + '-postcode' ).value = data['post_code'];
                        if ( document.getElementById( 'input-payment-telephone' ) )
                            document.getElementById( 'input-payment-telephone' ).value = data['phone'];
                        if ( document.getElementById( 'input-payment-email' ) )
                            document.getElementById( 'input-payment-email' ).value = data['email'];
                    {% else %}
                        $econtLabelText.text(labelTxt);
                    {% endif %}

                    {% if econtDeliveryOneStepCheckoutEnabled or is_journal_theme %}

                        $.ajax({
                            url: '{{ constant("HTTPS_SERVER") }}index.php?route=extension/shipping/econt_delivery/beforeCartSaveShipping',
                            type: 'POST',
                            async: false,  // This makes it synchronous
                            data: {
                                customerInfo: shippingInfo,
                                payment_method: $('input:radio[name=payment_method]:checked').val(),
                                shipping_method: $('input:radio[name=shipping_method]:checked').val(),
                            },
                            dataType: 'text',
                            success: function(response) {
                                var $tmp = $('<div></div>');
                                $tmp.html(response);
                                $('div#collapse-checkout-confirm > div.panel-body > div.table-responsive').empty();
                                $('div#collapse-checkout-confirm > div.panel-body > div.table-responsive').html($('div.table-responsive', $tmp).html());

                                // Force maza theme to update the shipping method
                                {% if is_maza_theme %}
                                    $(document).find('input[name="postcode"]').trigger('change');
                                {% endif %}
                            }
                        });

                        {% if isJournalOnePageCheckout %}
                            setTimeout(() => {
                                _QuickCheckout.save();
                            }, 200);
                        {% endif %}

                    {% endif %}
                }
            }
        });
    })(jQuery);
</script>


<style>
    #collapse-checkout-confirm {
        display: block !important;
    }
    #maza-checkout label[for="input-shipping-method-econt_delivery.econt_delivery"]{
        display: none;
    }
</style>

{% if oneStepCheckoutModuleEnabled %}
    <style>
        #econt_iframe_wrapper {
            width: 100vw;
            height: 100vh;
            background: rgba(0,0,0,.5);
            display: none;
            position: fixed;
            z-index: 3;
            top: 0;
            left: 0;
        }

        #econt_iframe_inner {
            position: absolute;
            background: #ffffff;
            width: 100vw;
            height: 100%;
            padding: 50px 10px;
        }

        #econtDeliverFrame {
            position: relative;
            width: 100%;
            height: 100%;
            border: none;
            margin-top: 0;
        }

        .close-econt-modal {
            float: right;
            font-size: 24px;
            cursor: pointer;
            position: relative;
            bottom: 15px;
        }

        .background-muted {
            overflow-y: hidden;
            z-index: -1;
        }

        @media screen and (min-width: 650px) {
            #econt_iframe_inner {
                top: 10%;
                left: 50%;
                transform: translateX(-50%);
                width: 80vw;
                height: 80%;
                padding: 25px;
                max-width: 800px;
            }

            #econtDeliverFrame {
                margin-top: -15px;
                max-height: 85vh;
            }
        }
    </style>
{% else %}
    <style>
        #econtDeliverFrame {
            border: 0;
        }

        #collapse-shipping-method div.radio {
            width: 100%;
        }

        {%  if isJournalOnePageCheckout %}
            .checkout-section .section-shipping,
            div.checkout-section.shipping-payment div.section-shipping div.radio {
                width: 100%!important;
            }
            .shipping-quote-title {
                /*display: none;*/
            }
            .quick-checkout-wrapper .shipping-payment .section-body>div {
                display: block;
            }
            .quick-checkout-wrapper .shipping-payment .section-body iframe{
                padding: 1rem;
            }
            .quick-checkout-wrapper .checkout-section {
                display: block;
            }
        {% endif %}
    </style>
{% endif %}
